#Links{
    margin: 2em;
}

#Links .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#Links .header button{
    margin-right: 20px;
    padding: 7px 30px ;
    cursor: pointer;
    border-radius: 5px;
    background-color: orange;
    color: white;
    border: none;
}
.LinksContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;

}
.LinksContainerCol1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.LinksContainerCol2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}
.LinksInputFields{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: self-start;
}
.LinksInputFields input{
    width: 90%;
    margin: 1em;
    padding: 10px;
    border-radius: 5px;
    border:none;
    color:#454754;
    background-color: white;

}
@media screen and (max-width: 600px) {
    .LinksContainer{
        flex-direction: column;
    }
  }
  